<h1>Our Recipes</h1>
<% @recipes.each do |recipe| %>
  <h3>Name: <a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></h3>
  <h4>Ingredients: <%= recipe.ingredients %></h4>
  <h4>Cook Time: <%= recipe.cook_time %></h4>
<% end %>

<form action="/recipes/<%= recipe.id %>/delete" method="POST">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" name="delete" value="delete">
</form>

<p><a href="/recipes/new">Create a new recipe!</a></p>
